@model IEnumerable<AplicativoSponsor.Models.Evento>

@{
    ViewBag.Title = "FeedEventos - SPONSOR";

    if (Session["id_logado"] != null)
    {

        Layout = "~/Views/Shared/_LayoutLogado.cshtml";

    }

    if (Session["id_logado"] == null)
    {

        Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";

    }

    var imagePath = "";
    if (idevento) != null)
    {
        imagePath = @"Capa_Evento\" + Request["photoChoice"];
    }

    if 
}



    <body>






        <div class="container" style="margin-left:140px;">



            @foreach (var item in Model)
            {

                <div class="col col-md-3">

                    <div class="card" style="width: 18rem; margin-bottom: 30px;height:450px;">


                        <div name ="photoChoice">
                            <div value=@Html.DisplayFor(modelItem => item.Id_evento)></div>

                        </div>

                        @if (imagePath != "")
                        {
                               <img src="@imagePath .png" class="card-img-top" alt="..."/>
                         }
 


                        <div class="card-body" id="desc"
                             style="max-height:150px; overflow:hidden; text-overflow:ellipsis;">
                            <h5 class="card-title">@Html.DisplayFor(modelitem => item.Nome_evento)</h5>
                            <span>@Html.DisplayFor(modelItem => item.Descricao_evento)</span>
                        </div>

                        <ul class="list-group list-group-flush" style="max-height: 100px">

                            <li class="list-group-item"><span>Categoria: @Html.DisplayFor(modelItem => item.Categoria_evento)</span></li>

                            <li class="list-group-item"><span>Data inicio: @Html.DisplayFor(modelItem => item.Data_inicio)</span></li>

                            <li class="list-group-item"><span>Data final: @Html.DisplayFor(modelItem => item.Data_final)</span></li>
                        </ul>


                        <div class="card-body">
                            <p>

                                @Html.ActionLink("Detalhes", "Details/" + @Html.DisplayFor(modelItem => item.Id_evento))

                            </p>
                        </div>
                    </div>

                </div>





            }


        </div>





    </body>

