@model AplicativoSponsor.Models.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<br><br><br>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel-body" align="center">
            <h2  class="masthead-heading text-uppercase mb-0"> @Html.DisplayFor(model => model.Nome_evento)</h2>
            <h4> @Html.DisplayFor(model => model.Categoria_evento)</h4>
        </div>

        <div>

            <div class="panel-body" align="center" style="margin-top:80px">

                
                <h5 style="margin-bottom:80px">
                    @Html.DisplayFor(model => model.Descricao_evento)
                </h5>



                 <h6 class="control-label col-md-2">Local do evento:</h6>
               

                <h6>
                    @Html.DisplayFor(model => model.Local_evento)
                </h6>

               
                    <h7 class="control-label col-md-2">Data de inicio:</h7>
               

                <h6>
                    @Html.DisplayFor(model => model.Data_inicio)
                </h6>

                
                    <h7 class="control-label col-md-2">Data de finalização:</h7>


                <h6>
                    @Html.DisplayFor(model => model.Data_final)
                </h6>

            
                    <h7 class="control-label col-md-2">Horário de inicio:</h7>
           

                <h6>
                    @Html.DisplayFor(model => model.Hora_inicio)
                </h6>

          
                    <h7 class="control-label col-md-2">Horário de finalização:</h7>
              

                <h6>
                    @Html.DisplayFor(model => model.Hora_final)
                </h6>

   
                    <h7 class="control-label col-md-2">Publico estimado:</h7>
    

                <h6>
                    @Html.DisplayFor(model => model.Publico_estimado)
                </h6>






              
                 
            </div>

            <a href="https://web.whatsapp.com/send?phone=5511951559236" target="_blank">whatsapp</a>



        </div>

        <input type="hidden" name="Delete" value="@Model.Id_evento" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
            @Html.ActionLink("Eventos", "MeuEvento")

            @Html.ActionLink("Editar", "Edit/" + @Html.DisplayFor(model => model.Id_evento))


        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

